# elm work dir and build output
elm-stuff
static/js/app.js
# haskell stuff
.stack-work
.cabal-sandbox
cabal.sandbox.config
dist
run-sloview
# static dir used for serving server.log files being analyzed
static/
log/
